body {
    padding:0px;
    margin: 0px
}

header {
    border-bottom: 1px solid black;
    padding: 23px 0px 15px 15px;
    background-color: orange;
    width: 100%;
}

/* headings */
h1 {
    color:green;
    font-size: 25px
}

h2{
    padding: 10px;
}

table {
    padding:10px;
}

tr:nth-child(2n-1){
    background-color: rgba(133, 129, 129, 0.172);
}
tr:nth-child(1){
    background-color:white;
}

li {
    margin:0px;
}

.grid-recipe-list {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, auto);
}



img {

    width:auto;
    height:130px;
}

figcaption {
    margin:0px;
}


.steps {
padding: 10px;
}

.v-taco {
    margin: 0px 0px 10px 0px;
}

.page-title {
    padding:10px;
}

.main-page-link {
    text-decoration: none;
    color:white

}

a {
    text-decoration: none;
}


.grid {
    display:flex;
    padding: 10px;
}

ul {
    display: inline-block;
}

h4 {
    margin: 0px;
}

footer {
    position: absolute;
    bottom: 0px;
    width:100%;
    background-color: rgb(155, 214, 106);
    padding: 23px 0px 15px 15px;
}
